  <h1 class = "title"><%= @movie.title %></h1>
  <p><%= @movie.description %></p>
  <p><%= @movie.year_released %></p>
  <form action="/<%= @movie.id %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="DELETE">
  </form>
  <a href="/<%= @movie.id %>/edit">Edit</a>
    <img src="<%= @movie.img_url %>" alt="not found">
